@charset "utf-8";
/* CSS Document */
body{
	margin:0; padding:0;  font-family:"Microsoft YaHei"; line-height:25px; color:#555555;
}
div,table{
	margin:0 auto;
}
a{
	color:#555555; text-decoration:none; cursor:pointer;
}
a:hover{
	color:#ff4e00; text-decoration:none; cursor:pointer;
}
images{
	border:0;
}
ul,li,dl,dt,dd{
	list-style:none; margin:0; padding:0;
}
input,io,select,checkbox{
	vertical-align:middle;
}
h1,h2,h3,h4,h5,h6{
	padding:0; margin:0 auto;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
form{
	margin:0; padding:0;
}
.none{
	display:none;
}

/*html{ 
	-webkit-filter:grayscale(100%); filter:grayscale(100%);
}
html { overflow-y:scroll; filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); -webkit-filter: grayscale(100%);}*/

/*html{
	filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);	
}*/

/*---------------header-导航--------------*/
.soubg{
	width:100%; min-width:1280px; height:35px; background-color:#f6f6f6; font-family:"宋体";font-size: 16px;
}
.sou{
	width:1280px; height:35px; line-height:35px;
}
.s_city_b{
	width:250px; height:35px; float:left;
}
.s_city{
	height:35px; background:url(../images/t_arrow.gif) no-repeat right center; float:left; padding-right:15px; cursor:pointer; position:relative;
}
.s_city:hover .s_city_bg{
	display:block;
}
.s_city_bg{
	width:254px; overflow:hidden; position:absolute; left:-50px; top:29px; z-index:900; display:none;
}
.s_city_t{
	width:9px; height:7px; line-height:7px; overflow:hidden; background:url(../images/c_t.gif) no-repeat center top; position:absolute; left:55px; top:0;
}
.s_city_c{
	width:252px; height:460px; overflow:hidden; background-color:#FFF; font-family:"Microsoft YaHei"; margin-top:6px; border:1px solid #cdcdcd;
}
.s_city_c h2{
	width:230px; height:29px; line-height:29px; overflow:hidden; font-size:14px; font-weight:normal; text-align:left; margin-top:5px; border-bottom:1px dotted #666666;
}
table.c_tab tr th{
	line-height:26px; font-weight:normal; color:#000; width:20px; text-transform:uppercase;
}
.c_h span{
	line-height:26px;  display:inline; padding:0 3px; margin-right:3px; cursor:pointer;
}
.c_h span:hover{
	background-color:#ff4e00;color:#fff;
}
.spanem{color:#FFF;background-color:#ff4e00;   }

/*.c_h span:hover{
	background-color:skyblue; color:#fff;
}
//.c_h span:visited{color:#FFF; background-color:skyblue;}
.s_log{
	width:220px; height:35px; overflow:hidden; float:left;
}*/
.ss{
	width:280px; height:35px; float:left;
}
.ss_list{
	 background:url(../images/t_arrow.gif) no-repeat right center;  display:inline; margin-left:5px; padding-right:15px; cursor:pointer; position:relative;
}
.ss_list:hover .ss_list_bg{
	display:block; 
}
.ss_list:hover .ss_list_bgu{
	display:block; 
}
.ss_list_bgu{
	width:116px; overflow:hidden; position:absolute; left:50%; top:25px; margin-left:-58px; z-index:900; display:none;
}
.ss_list_bg{
	width:116px; overflow:hidden; position:absolute; left:50%; top:15px; margin-left:-58px; z-index:900; display:none;
}
.ss_list_t{
	height:7px; line-height:7px; overflow:hidden; background:url(../images/c_t.gif) no-repeat center top; position:absolute; left:0; top:0;
}
.ss_list_c{
	overflow:hidden; background-color:#FFF; font-family:"Microsoft YaHei"; margin-top:6px; padding:10px 0; border:1px solid #cdcdcd;
}
.ss_list_c ul li{
	height:25px; line-height:25px; overflow:hidden; text-align:center;
}

.s_sh{
	width:60px; height:35px; overflow:hidden; float: right;
}
.s_sh a{
	  line-height:35px; overflow:hidden;  display:inline; padding-right:18px; text-indent:-9999em;
}
.s_sh a.sh1{
	background:url(../images/sh1.png) no-repeat 20px 50%;
}
.s_sh a.sh2{
	background:url(../images/sh2.png) no-repeat 32px 50%;
}	


/*---------------首页---------------*/

/*------------搜索color:cornflowerblue;position: relative;left: 30px;top: 10px; ------------*/
#headerTop {
	 width: 1280px; height: 180px; margin: 0 auto;overflow: hidden;
}
#header{
	 width: 280px;  height: 160px;overflow: hidden;	 	
}
#logo{
	width: 240px; height: 160px;margin-left: 20px ;
}
#header p{
	width:30px;height: 160px;margin-right: 5px ; color: #ff3c3c;
	font-size: 28px; font-family:"宋体";FONT-WEIGHT: bold;
}
#navbar{
	  height: 140px; width:1000px;
	  margin-top: 30px;overflow: hidden;
}
#sform{
	width: 1000px;  height: 140px;margin: 0 auto;overflow: hidden;	 
}
.text{
	font-family:"宋体";font-size: 16px;
	border-bottom:1px #d7d7d7 solid;
}
.wheres{
	text-align: left;width: 400px;height: 140px;margin-left:40px;overflow: hidden;
}
.search{overflow: hidden;width: 560px;height: 140px;overflow: hidden;}
/*
.search-box{margin-left:155px;margin-top:20px;margin-bottom:30px; overflow:hidden;}
.search-label{width:79px;text-align:center;border-right:1px #d7d7d7 solid;background:#f8f8f8;}
*/
.search-input{width:342px;height:38px;text-indent:5px;padding-left: 15px;
	border:1px #d7d7d7 solid;background:#f8f8f8;margin-top: 0.5px;
	font-size: 20px;
}
input::-moz-placeholde{
	color:#999;
}
input:-moz-placeholde{
	color:#999;
}
input:-ms-input-placeholde{
	color:#999;
}
input::-webkit-input-placeholde{
	color:#999;
}
.cornflowerblue{color: cornflowerblue;}
.red{color:red;}
.juzhong{text-align: center;}
.search-btn{width:98px;text-align:center;margin-left: 0.5px;
	background:#ff3c3c;color:#fff;height:42px;border:0 none;cursor:pointer;
}
.search-btm{text-align: left; padding-left: 10px;margin-top: 5px; height: 40px;}
.search-btm a{color:#999;margin-right:20px;font-size: 10px; }
.search-btm a:hover{color:#ff2832;}

/*=======main头=========*/
.main{width: 1280px;margin: 0 auto;
	overflow: hidden;
}

.head-nav{ width: 1280px; height:46px; line-height:46px; background-color:#CCC; font-size:16px; overflow:hidden;margin: 0 auto;}
.head-nav li{ float:left; width: 160px;}
.head-nav li a{ display:block; padding:0 36px; color:#333;}
.head-nav li a:hover,.nav li a.current{ background-color:#ff3c3c;; color:#fff;}

/*=======main中=========*/
.house-list {
	width: 880px; margin-left: 10px;
}
.house-list TR.odd TD {
	BACKGROUND: #faf9f6; width: 100%;height: 580px;
}
.house-list TD {
	BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 15px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; PADDING-TOP: 15px
}
.house-list TD.house-thumb {
	TEXT-ALIGN: center; WIDTH: 240px;height: 180px;
}
.house-list TD.house-thumb SPAN {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 15px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px;  BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 3px
}
.house-list TD DL DT {
	FONT-SIZE: 14px; FONT-WEIGHT: bold;font-size: 18px; margin-top:-10px ;padding-bottom: 10px;
}
.house-list TD.house-type {
	TEXT-ALIGN: center; WIDTH: 100px
}
.house-list TD.house-price {
	TEXT-ALIGN: center; WIDTH: 100px; COLOR: #ff3300;
}
.house-list TD.house-price SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; FONT-FAMILY: "Arial Black", Gadget, sans-serif; FONT-SIZE: 20px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}

/*=======main广告 右=========*/
.ghouse{
width: 390px;margin: 0 auto;;overflow: hidden; font-size: 12px;
}
.ghouse-list {
	width: 340px; padding-left: 50px;
}
.ghouse-list odd{
	BACKGROUND: #faf9f6; 
}
.ghouse-list TD {
 PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.ghouse-list TD.ghouse-thumb {
	TEXT-ALIGN: center;width: 230px; height: 120px;
}
.ghouse-list TD.ghouse-thumb SPAN {
	PADDING-LEFT: 1px; PADDING-RIGHT: 1px;   PADDING-TOP: 1px
}
.ghouse-list TD.ghouse-type {
	TEXT-ALIGN: center; width: 12px;
}
.ghouse-price {
	TEXT-ALIGN: center;  COLOR: #ff3300;font-size: 14px;
}
.ghouse-list TD.ghouse-price SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; FONT-FAMILY: "Arial Black", Gadget, sans-serif; FONT-SIZE: 8px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}


/*=======main尾=========*/

.pager-wrapper  a {
	TEXT-DECORATION: none;display: inline-block; height: 30px;
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; 
	PADDING-BOTTOM: 0px; MARGIN: 0px 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; 
	BACKGROUND: #fefefe;  BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 0px;
}
.pager-wrapper  a:hover{ text-decoration: none; color: red;}
.to_p {
	display: inline-block;width: 120px;height: 20px; 
}
.jump-input{
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 0px; MARGIN: 0px 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; 
	BACKGROUND: #fefefe;  BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 0px;

}
.pager-wrapper{
  width: 1280px;  height: 50px;  background-color: #ccc;
  margin: 0 auto;display: flex; justify-content: center;align-items: center;overflow: hidden;
}
.pager-pages{
	width: 50%;  height: 30px;  float: left; margin: 0 auto;
	display: flex; justify-content: center;align-items: center;overflow: hidden;
}
.pager-jump{
	width: 50%; float: left; height: 30px;margin: 0 auto;display: flex;align-items: center;overflow: hidden;
}
input[type=number] {
/*-moz-appearance:textfield;*/ 
width: 60px;height: 30px;font-size: 16px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
/* -webkit-appearance: none;*/
margin: 0; 
}

/*=======页尾=========*/

#footer .question{color: #999;font-size: 12px;line-height: 38px;}
#footer .question img{margin-right: 5px;}

#footer .links{margin-bottom: 7px;}
#footer .links a{display: inline-block;font-size: 12px;color: #666;padding: 0 15px;
	line-height: 24px;position: relative;}
#footer .links a:after{content: '';width: 1px;height: 11px;background-color: #956695;
	position: absolute;right: 0;top: calc(50% - 5.5px);}
#footer .links a:last-of-type:after{display: none;}
#footer .links a:hover{color: rgb(238, 4, 148);}
#footer .copyright{font-size: 12px;color: #666;}